[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MixMic
Comment=Mix your mics
Exec=/home/lmg/.local/bin/hello-world
Icon=application-default-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
